# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
mlruns/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db